*{
	
	padding: 5px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0;
	background-image: url('https://wallpaperaccess.com/full/2345244.jpg');
}


#hk{
	position: fixed;
	width: 10%;
	height: 100vh;
	
	background: black;
	
}

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: url("https://i.pinimg.com/originals/fa/6a/a8/fa6aa8b9f02691e42df56f1678e795fc.gif")
	 no-repeat center;
	z-index: 99999999;

}



