*{
	padding: 5px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0;
	background-color: black;
}


#hk{
	position: fixed;
	width: 10%;
	height: 100vh;
	
	background: black;
	
}

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: black
    url("2.gif")
	 no-repeat center;
	z-index: 99999999;

}



